* {
  font-family: "Sansita Swashed", cursive;
}
.bluer {
 position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  
}
.bluer::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    filter: blur(40px);
  background-image: url(../images/nasa.jpg);
  background-position: center center;
  background-size: cover;
  z-index: -1;
  
}
.logincontiner {

  background-color: #fff;
  height: 480px;
  overflow: hidden;
}
.leftSide {
  background-image: url(../images/nasa.jpg);
  background-size: cover;
  background-position: center center;
  height: 480px;
  position: relative;
  z-index: 0;
}
.leftSide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}
.sign {
  display: block;
  margin-top: 20px;
  font-family: "Sansita Swashed", cursive;
  font-size: 1.8rem;
  background-color: transparent;
  cursor: pointer;
  color: #093b70;
}
.heder {
  color: #0c64c4;
  padding-bottom: 50px;
  font-family: "Charm", cursive;
  font-size: 1.7rem;
}
.sign:hover {
  text-decoration: none;
}
.lincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.line {
  border-left: 1px solid green;
  height: 100px;
  margin: 0;
  padding: 0;
}
input {
  border: none !important;
  border-bottom: 2px solid #6e7070 !important;
  border-radius: 0 !important ;
  color: #0c64c4;
}
input:focus {
  box-shadow: none !important;
  border-bottom: 2px solid #0c64c4 !important;
}

.sacndheder {
  margin-top: 109px;
}
.linkFa {
  background-color: #4c6ef5;
  border-radius: 5px;
  font-size: 1.2rem;
  color: #fff;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-right: 100px;
}
.linkFa a {
  color: #fff;
}
.linkFa a:hover {
  text-decoration: none;
}
