body {
    background: #24353f;
    font-family: 'Titillium Web', sans-serif;
}

#home {
    height: 75vh;
}

h1 {
    color: #17a2b8;
}

.group {
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

input,
textarea {
    background-color: transparent !important;
    color: #fff !important;
}

input::placeholder,
textarea::placeholder {
    color: rgb(182, 182, 182) !important;
}

input:focus,
textarea:focus {
    box-shadow: 0 0 0 0 transparent !important;
}
.leftSide{
    background-image: url(../images/nasa.jpg);
    background-size: cover;
    background-position:center center ;
}
.loginViwe{
    margin-top: 5%;
    background-color:#000 ;
}
.lincontainer{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.line{
  
        border-left: 1px solid green;
        height: 20%;
        margin: 0;
        padding: 0;
    
}